modules = ["nodejs-22", "web", "postgresql-16"]
run = "NODE_OPTIONS='--max-old-space-size=4096' npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"

[[ports]]
localPort = 5000
externalPort = 80

[env]
PORT = "5000"

[deployment]
deploymentTarget = "autoscale"
run = ["sh", "-c", "npm run start"]
build = ["npm", "run", "build"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[[workflows.workflow]]
name = "App"
mode = "sequential"
author = 47083224

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[userenv]

[userenv.shared]
VITE_NFT_ADDRESS='0xe7f1725E7734CE288F8367e1Bb143E90bb3F0512'
VITE_MARKETPLACE_ADDRESS='0xDc64a140Aa3E981100a9becA4E685f962f0cF6C9'
VITE_STAKING_ADDRESS='0x9fE46736679d2D9a65F0992F2272dE9f3c7fa6e0'


