modules = ["nodejs-20", "postgresql-16", "python-3.11", "web"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"

[[ports]]
localPort = 5000
externalPort = 80

[env]
PORT = "5000"

[deployment]
deploymentTarget = "static"
run = ["node", "./dist/index.cjs"]
build = ["npm", "run", "build"]
publicDir = "dist/public"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[[workflows.workflow]]
name = "App"
mode = "sequential"
author = 47083224

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[userenv]

[userenv.shared]
VITE_RPC_URL = "https://meechain1.bolt.host"
VITE_EXPLORER_URL = "https://explorer.meechain.io"
VITE_CHAIN_ID = "56"
VITE_WALLETCONNECT_ID = "2e0008e23308df1a8278a35195822b65"
VITE_NFT_ADDRESS = "0xe7f1725E7734CE288F8367e1Bb143E90bb3F0512"
VITE_GEMINI_API_KEY = "AIzaSyCrB7oXIVoVEPH-EHhj6HvriEZToBp9ieI"
VITE_STAKING_ADDRESS = "0x9fE46736679d2D9a65F0992F2272dE9f3c7fa6e0"
VITE_CHAIN_NAME = "MeeChain"
VITE_MARKETPLACE_ADDRESS = "0xDc64a140Aa3E981100a9becA4E685f962f0cF6C9"
VITE_API_KEY = "AIzaSyCrB7oXIVoVEPH-EHhj6HvriEZToBp9ieI"
VITE_MCB_TOKEN_ADDRESS = "0x82a03a59f55d01c60035dbaef84abc2bcd02560b"
