modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"

[[ports]]
localPort = 5000
externalPort = 80

[env]
PORT = "5000"

[deployment]
deploymentTarget = "autoscale"
run = ["node", "./dist/index.cjs"]
build = ["npm", "run", "build"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[[workflows.workflow]]
name = "App"
mode = "sequential"
author = 47083224

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[userenv]

[userenv.shared]
VITE_NFT_ADDRESS='0xe7f1725E7734CE288F8367e1Bb143E90bb3F0512'
VITE_MARKETPLACE_ADDRESS='0xDc64a140Aa3E981100a9becA4E685f962f0cF6C9'
VITE_STAKING_ADDRESS='0x9fE46736679d2D9a65F0992F2272dE9f3c7fa6e0'
VITE_MCB_TOKEN_ADDRESS='0x82a03a59f55d01c60035dbaef84abc2bcd02560b'
VITE_GEMINI_API_KEY='AIzaSyCrB7oXIVoVEPH-EHhj6HvriEZToBp9ieI'
VITE_API_KEY= 'AsVxQhK8x1O7jf5mj2hFiH2wffGOkaf6nSHPw8Gu0DlgifK-X21-2Owj8DAof89L'
VITE_WALLETCONNECT_ID= 'b0d81328f8ab0541fdede7db9ff25cb1'
VITE_DNS_API_KEY= 'jF6R5RcJLrFXayBeg6Uj52UdsQnj3L'

